* {
    background-color: green;
}
.bg-box {
    background-image: url("https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg"), 
    url("./img/klipartz.com.png") ,
    url("./img/pngwing.com.png") ,
    url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru"),
    url("https://cdn.pixabay.com/photo/2023/05/08/17/05/donut-7979296_1280.png") ;
    height: 100vh;
    background-repeat: no-repeat , repeat-x , repeat-x , repeat-y , repeat-y;
    background-position: center , bottom , top , left , right;
    background-size: 500px , 500px , 60px , 30px , 30px;
    
  
}
